.container {
    width: 100%;
    height: 100svh;
   background: rgba(174, 19, 50, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    width: 898px;
    height: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 62px;
    z-index: 3;
}
.imageWomen {
    position: absolute;
    top: 172px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.imageWomen img {
    width: 452px;
    height: 702px;
    object-fit: contain;
}

.vectorWomen {
    position: absolute;
    top: 152px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.vectorWomen img {
    width: 486px;
    height: 742px;
    object-fit: contain;
}

.imageBanana {
    position: absolute;
    top: 242px;
    left: 43%;
    transform: translateX(calc(-50% - 226px - 50px));
    z-index: 0;
}

.imageBanana img {
    width: 323px;
    height: 264px;
   
    object-fit: contain;
}

.imageStrawberry {
    position: absolute;
    top: 80px;
    left: 65%;
    transform: translateX(calc(-50% + 226px + 50px));
    z-index: 0;
}

.imageStrawberry img {
    width: 150px;
    height: 150px;
    filter: blur(2px);
    object-fit: contain;
}

.btnShop {
    position: absolute;
    top: calc(172px + 702px - 120px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btnShop:hover {
    transform: translateX(-50%) scale(1.1);
}

.btnShop img {
    width: 220px;
    height: 220px;
    object-fit: contain;
}



.description {
    position: absolute;
    top: 458px;
    /* left: 62px; */ 
    left: 10%;
     transform: translateX(calc(-50% + 116px + 30px));
    width: 222px;
    height: 108px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    z-index: 3;
}

.fruitCard {

     position: absolute;
    top: 628px;
    /* right: 62px; */
    right: 82%;
    transform: translateX(calc(-50% + 226px + 10px));
    width: 249px;
    height: 387px;
    border-radius: 500px;
    background: rgba(164, 203, 102, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
   
   
   
   
}

.fruitCard h3 {
    margin-top: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: -4%;
text-align: center;
}

.fruitCardImage {
    margin-top: 61px;
    width: 200px;
    height: 172px;
}

.fruitCardImage img {
    width: 200px;
    height: 172px;
    object-fit: contain;
}

.fruitCardText {
    width: 155px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 8px;
}

.fruitCardRight {
    position: absolute;
    top: 386px;
  
    left: 65%;
    transform: translateX(calc(-50% + 226px + 10px));
    width: 249px;
    height: 387px;
    border-radius: 500px;
    background: rgba(245, 206, 19, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.fruitCardRight h3 {
    margin-top: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: center;
  
}

.fruitCardRightImage {
    margin-top: 11px;
    width: 162px;
    height: 185px;
}

.fruitCardRightImage img {
    width: 162px;
    height: 185px;
    object-fit: contain;
}

.fruitCardRightText {
    width: 155px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 17px;
}

.tagsContainer {
    position: absolute;
    top: 817px;
    /* right: 62px; */
    left: 65%;
    transform: translateX(calc(-50% + 226px + 00px));
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 10px;
    width: 260px;
    z-index: 3;
}

.tagButton {
    width: 125px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50px;
    background: transparent;
    cursor: none;
    transition: background 0.3s ease;
}

.tagButton:nth-child(3),
.tagButton:nth-child(4) {
    width: 115px;
}

.tagButton:hover {
    background: rgba(255, 255, 255, 0.1);
}

.tagButton span {
    width: 61px;
    height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
}






@media (min-width: 1024px) and (max-width: 1250px) {
     .container {
   
    height: 92svh;
  
}
    .btnShop {
   
    top: calc(172px + 702px - 120px);
   
}
     .description {
        top: 400px;
        left: 10px;
        width: 200px;
        font-size: 14px;
        line-height: 17px;
    }
    
 .fruitCard {
        top: 560px;
        left: -90px;
        width: 190px;
        height: 300px;
    }
    
    .fruitCard h3 {
        margin-top: 18px;
        font-size: 12px;
        line-height: 22px;
    }
    
    .fruitCardImage {
        margin-top: 40px;
        width: 140px;
        height: 120px;
    }
    
    .fruitCardImage img {
        width: 140px;
        height: 120px;
    }
    
    .fruitCardText {
        width: 120px;
        font-size: 10px;
        line-height: 12px;
        margin-top: 0px;
    }
    
    .fruitCardRight {
        top: 340px;
        right: 40px;
        width: 190px;
        height: 300px;
    }
    
    .fruitCardRight h3 {
        margin-top: 18px;
        font-size: 12px;
        line-height: 22px;
    }
    
    .fruitCardRightImage {
        margin-top: 10px;
        width: 115px;
        height: 130px;
    }
    
    .fruitCardRightImage img {
        width: 115px;
        height: 130px;
    }
    
    .fruitCardRightText {
        width: 120px;
        font-size: 10px;
        line-height: 12px;
    }
    .tagsContainer {
 
    top: 817px;
  
    left: 63%;
    transform: translateX(calc(-50% + 226px + 00px));
  
}

}

@media (max-width: 1024px) {
    .container {
   
    height: 85svh;
  
}
    .title {
        width: 80%;
        font-size: 46px;
        line-height: 52px;
        height: auto;
        padding: 0 20px;
    }
    
    .imageWomen {
        top: 200px;
    }
    
    .imageWomen img {
        width: 350px;
        height: 560px;
    }
    
    .vectorWomen {
        top: 180px;
    }
    
    .vectorWomen img {
        width: 410px;
        height: 590px;
    }
    
    .imageBanana {
        top: 210px;
        transform: translateX(calc(-50% - 200px - 30px));
    }
    
    .imageBanana img {
        width: 230px;
        height: 182px;
    }
    
    .imageStrawberry {
        top: 90px;
        transform: translateX(calc(-50% + 200px + 0px));
    }
    
    .imageStrawberry img {
        width: 140px;
        height: 140px;
    }
    
    .btnShop {
        top: calc(200px + 560px - 100px);
    }
    
    .btnShop img {
        width: 180px;
        height: 180px;
    }
    
    .description {
        top: 400px;
        left: -30px;
        width: 150px;
        font-size: 12px;
        line-height: 17px;
    }
    
    .fruitCard {
        top: 550px;
        left: -130px;
        width: 160px;
        height: 260px;
         
    }
    
    .fruitCard h3 {
        margin-top: 16px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .fruitCardImage {
        margin-top: 35px;
        width: 120px;
        height: 103px;
    }
    
    .fruitCardImage img {
        width: 120px;
        height: 103px;
    }
    
    .fruitCardText {
        width: 110px;
        height: auto;
        font-size: 9px;
        line-height: 11px;
        margin-top: 6px;
    }
    
    .fruitCardRight {
        top: 320px;
        right: -180px;
        width: 160px;
        height: 260px;
         transform: translateX(calc(-50% + 166px + 10px));
    }
    
    .fruitCardRight h3 {
        margin-top: 16px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .fruitCardRightImage {
        margin-top: 5px;
        width: 100px;
        height: 114px;
    }
    
    .fruitCardRightImage img {
        width: 100px;
        height: 114px;
    }
    
    .fruitCardRightText {
        width: 110px;
        height: auto;
        font-size: 9px;
        line-height: 11px;
        margin-top: 6px;
    }
     .tagsContainer {
 
    top: 780px;
  
    left: 52%;
    transform: translateX(calc(-50% + 226px + 00px));
  
}
}

@media (max-width: 768px) {
        .container {
   
    height: 100svh;
  
}
    .title {
        width: 95%;
        font-size: 36px;
        line-height: 40px;
        margin-top: 50px;
        padding: 0 15px;
    }
    
    .imageWomen {
        top: 180px;
    }
    
    .imageWomen img {
        width: 320px;
        height: 488px;
    }
    
    .vectorWomen {
        top: 160px;
    }
    
    .vectorWomen img {
        width: 340px;
        height: 530px;
    }
    
    .imageBanana {
        top: 110px;
        transform: translateX(calc(-50% - 130px - 0px));
    }
    
    .imageBanana img {
        width: 180px;
        height: 142px;
    }
    
    .imageStrawberry {
        top: 70px;
        transform: translateX(calc(-50% + 100px + 0px));
    }
    
    .imageStrawberry img {
        width: 110px;
        height: 110px;
    }
    
    .btnShop {
        top: calc(180px + 488px - 75px);
    }
    
    .btnShop img {
        width: 150px;
        height: 150px;
    }
    
    .description {
        top: 59dvh;
        left: -30px;
        width: 200px;
        height: auto;
        font-size: 11px;
        line-height: 14px;
    }
    
    .fruitCard {
        top: 68dvh;
        left: -11dvh;
        width: 160px;
        height: 260px;
    }
    
    .fruitCard h3 {
        margin-top: 16px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .fruitCardImage {
        margin-top: 35px;
        width: 120px;
        height: 103px;
    }
    
    .fruitCardImage img {
        width: 120px;
        height: 103px;
    }
    
    .fruitCardText {
        width: 110px;
        height: auto;
        font-size: 9px;
        line-height: 11px;
        margin-top: 6px;
    }
    
    .fruitCardRight {
        top: 55dvh;
        right: 30px;
        width: 160px;
        height: 260px;
         transform: translateX(calc(-50% + 60px + 10px));
    }
    
    .fruitCardRight h3 {
        margin-top: 16px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .fruitCardRightImage {
        margin-top: 5px;
        width: 100px;
        height: 114px;
    }
    
    .fruitCardRightImage img {
        width: 100px;
        height: 114px;
    }
    
    .fruitCardRightText {
        width: 110px;
        height: auto;
        font-size: 9px;
        line-height: 11px;
        margin-top: 6px;
    }
     .tagsContainer {
 
    top: 80dvh;

    right: 10dvh;
    transform: translateX(calc(-50% + 86px + 00px));
  
}
}



@media (max-width: 480px) {
        .container {
   
    height: 143svh;
  
}
    .title {
        width: 100%;
        font-size: 28px;
        line-height: 32px;
        margin-top: 40px;
        padding: 0 10px;
    }
    
    .imageWomen {
        top: 160px;
    }
    
    .imageWomen img {
        width: 240px;
        height: 366px;
    }
    
    .vectorWomen {
        top: 140px;
    }
    
    .vectorWomen img {
        width: 260px;
        height: 400px;
    }
    
    .imageBanana {
        top: 100px;
        transform: translateX(calc(-50% - 90px - 00px));
    }
    
    .imageBanana img {
        width: 140px;
        height: 108px;
    }
    
    .imageStrawberry {
        top: 490px;
        transform: translateX(calc(-50% + 80px + 0px));
    }
    
    .imageStrawberry img {
        width: 90px;
        height: 90px;
    }
    
    .btnShop {
        top: calc(160px + 366px - 55px);
    }
    
    .btnShop img {
        width: 110px;
        height: 110px;
    }
    
    .description {
        top: calc(160px + 366px + 70px);
        left: 50%;
        transform: translateX(-50%);
        width: 279px;
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgba(255, 255, 255, 1);
        font-family: DM Sans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.04em;
        text-align: left;
    }
    
    .fruitCard {
        top: calc(160px + 366px + 70px + 90px + 44px);
        left: 50%;
        transform: translateX(-50%);
        width: 249px;
        height: 387px;
    }
     .fruitCardImage {
        margin-top: 50px;
        width: 200px;
        height: 183px;
    }
    
    .fruitCardImage img {
        width: 220px ;
        height: 183px;
    }
    
    .fruitCardText {
        width: 130px;
        height: auto;
        font-size: 12px;
        line-height: 13px;
        margin-top: 5px;
    }
    .fruitCardRight {
        top: 55dvh;
        right: 30px;
        width: 160px;
        height: 260px;
         transform: translateX(calc(-50% + 60px + 10px));
    }
    
    .fruitCardRight h3 {
        margin-top: 16px;
        font-size: 12px;
        line-height: 20px;
    }
    
    .fruitCardRightImage {
        margin-top: 35px;
        width: 200px;
        height: 183px;
    }
    
    .fruitCardRightImage img {
        width: 200px;
        height: 183px;
    }
    
    .fruitCardRightText {
        width: 130px;
        height: auto;
        font-size: 12px;
        line-height: 13px;
        margin-top: 10px;
    }
    .tagsContainer {
        top: calc(160px + 366px + 70px + 90px + 44px + 387px + 44px);
        left: 50%;
        transform: translateX(-50%);
       
    }
    .tagButton {
    width: 120px;
    height: 38px;
    
}
    .tagButton:nth-child(3),
.tagButton:nth-child(4) {
    width: 120px;
}
    
    .fruitCardRight {
        top: calc(60px + 306px + 70px + 90px + 44px + 387px + 44px + 260px + 44px);
        left: 50%;
        transform: translateX(-50%);
        width: 249px;
        height: 387px;
    }
}

