.container {
    width: 100%;
    min-height: auto;
    background: rgba(174, 19, 50, 1);
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 40px;
}

.title {
    width: 780px;
    max-width: 100%;
    height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -0.04em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    z-index: 2;
}

.imagesWrapper {
    display: flex;
    gap: 20px;
    margin-top: -40px;
}

.imageLeft {
    width: 792px;
    height: 502px;
    border-radius: 20px;
    object-fit: cover;
}

.imageRight {
    width: 400px;
    height: 502px;
    border-radius: 20px;
    object-fit: cover;
}

.description {
    width: 492px;
    max-width: 100%;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 80px 0 0 0;
}

@media (max-width: 1280px) {
    .title {
        font-size: 48px;
        line-height: 48px;
        height: auto;
        width: 600px;
    }

    .imagesWrapper {
        gap: 15px;
    }

    .imageLeft {
        width: 600px;
        height: 380px;
    }

    .imageRight {
        width: 300px;
        height: 380px;
    }
}

@media (max-width: 968px) {
    .title {
        font-size: 36px;
        line-height: 40px;
        width: 450px;
    }

    .imagesWrapper {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 600px;
    }

    .imageLeft,
    .imageRight {
        width: 100%;
        height: auto;
        aspect-ratio: 792/502;
    }

    .description {
        margin-top: 60px;
        width: 90%;
    }
}

@media (max-width: 640px) {
    .container {
        padding: 0 15px 30px;
    }

    .title {
        font-size: 28px;
        line-height: 32px;
        width: 70%;
    }

    .imagesWrapper {
        margin-top: -40px;
    }

    .description {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
}