.wrapper {
  height: 100vh;
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  /* scroll-snap-type: y proximity; */
}

.section {
  /* height: 100vh; */
  /* scroll-snap-align: start; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  font-weight: bold; */
}