.wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
}

.section {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}